* {
  box-sizing: border-box;
  outline: none;
  border: none;
  padding: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(236, 231, 234);
  border: 2px rgb(103, 153, 171) solid;
  border-radius: 30px;
}

header {
  color: rgb(126, 32, 32);
  margin-top: 20px;
  margin-bottom: 30px;
  font-size: 32px;
}

.startBtn {
  width: 110px;
  padding: 12px;
  color: rgb(46, 76, 87);
  background-color: rgba(244, 204, 204, 0.572);
  border: 2px rgb(148, 73, 73) solid;
  border-radius: 10px;
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 50px;
}

.player1-sum {
  display: block;
  padding: 8px;
  font-size: 20px;
}
.player2-sum {
  display: block;
  padding: 8px;
  font-size: 20px;
}

.container div {
  border: 2px rgb(107, 148, 162) solid;
  border-radius: 7px;
  padding: 10px;
}
